---
import Layout from '@/layouts/Layout.astro';
import Section from '@/components/Section.astro';
import Title from '@/components/Title.astro';
import CharacterCard from '@/components/CharacterCard.astro';

import { characters } from '@/lib/data';
---

<Layout
    title="Personajes"
    description="Conoce a los personajes de Violet Evergarden y explora información sobre ellos.">
    <Section>
        <Title>Personajes</Title>
        <div
            class="m-auto grid max-w-screen-lg gap-4 md:grid-cols-[repeat(auto-fit,_minmax(26rem,_1fr))]">
            {
                characters.map(character => (
                    <CharacterCard
                        name={character.name}
                        description={character.description}
                        img={character.img}
                    />
                ))
            }
        </div>
    </Section>
</Layout>
