---
import Layout from '@/layouts/Layout.astro';
import Section from '@/components/Section.astro';
import Title from '@/components/Title.astro';
import CharacterCard from '@/components/CharacterCard.astro';

import { characters } from '@/data/data.mjs';
---

<Layout
    title="Personajes"
    description="Conoce a los personajes de Violet Evergarden y explora información sobre ellos.">
    <Section>
        <Title>Personajes</Title>
        <div>
            {
                characters.map(character => (
                    <CharacterCard
                        id={character.id}
                        name={character.name}
                        description={character.description}
                        img={character.img}
                    />
                ))
            }
        </div>
    </Section>
</Layout>
