---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Title from '../components/Title.astro';
import CharacterCard from '../components/CharacterCard.astro';

import characters from '../data/characters.mjs';
---

<Layout title="Personajes">
    <Section>
        <Title>Personajes</Title>
        <div class="after:clear-both after:table after:content-['']">
            {
                characters.map(character => (
                    <CharacterCard
                        id={character.id}
                        name={character.name}
                        description={character.description}
                        img={character.img}
                    />
                ))
            }
        </div>
    </Section>
</Layout>
