---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Title from "../components/Title.astro";

---

<Layout title="Ver más">
    <Section>
        <Title>Webs de Interés</Title>
        <div class="m-auto w-1/4">
            <p>En esta pagina encontraras una lista de webs de interes sobre Violet Evergarden</p>
        </div>
    </Section>
</Layout>
