<button id="navBarBtn"
    class="transition block h-8 w-8 rounded border-2 border-golden bg-transparent text-white md:hidden">
    <div class="clasePrueba h-[2px] w-4/5 m-auto mb-1 bg-golden rounded-sm transition"></div>
    <div class="h-[2px] w-4/5 m-auto mb-1 bg-golden rounded-sm transition"></div>
    <div class="h-[2px] w-4/5 m-auto bg-golden rounded-sm transition"></div>
</button>

<style>
    .active * {
        border-radius: 0;
    }
    .active div:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .active div:nth-child(2) {
        opacity: 0;
    }

    .active div:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }
</style>
