---
const { ...rest } = Astro.props;
---

<button
    id="navBarBtn"
    class="block h-8 w-8 rounded border-2 border-golden bg-transparent text-white transition md:hidden"
    {...rest}>
    <div class="m-auto mb-1 h-[2px] w-4/5 rounded-sm bg-golden transition">
    </div>
    <div class="m-auto mb-1 h-[2px] w-4/5 rounded-sm bg-golden transition">
    </div>
    <div class="m-auto h-[2px] w-4/5 rounded-sm bg-golden transition"></div>
</button>

<style>
    .active * {
        border-radius: 0;
    }
    .active div:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .active div:nth-child(2) {
        opacity: 0;
    }

    .active div:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }
</style>
