---
import ButtonHiddenNav from './ButtonHiddenNav.astro';
import PagesLink from './PagesLink.astro';

const pages = [
    { pageName: 'Inicio', url: '/#navBar' },
    { pageName: 'Personajes', url: '/characters/#navBar' },
    { pageName: 'Ficha Técnica', url: '#navBar' },
    { pageName: 'Te puede interesar', url: '#navBar' },
];
---

<nav
    id="navBar"
    class="relative z-20 m-auto flex h-[71px] w-full flex-col items-center justify-center border-x border-y-2 border-golden bg-black before:absolute before:left-0 before:top-0 before:h-[68px] before:w-[110px] before:bg-left-top-header before:content-[''] after:absolute after:right-0 after:top-0 after:h-[68px] after:w-[110px] after:bg-right-top-header after:content-['']">
    <ButtonHiddenNav />

    <ul
        id="navBarUl"
        class="absolute top-full mt-[1px] hidden w-11/12 grid-flow-row border-2 border-t-0 border-golden bg-black text-center text-golden md:top-auto md:grid md:grid-flow-col md:border-none md:bg-transparent">
        {
            pages.map(page => (
                <PagesLink url={page.url}>{page.pageName}</PagesLink>
            ))
        }
    </ul>
</nav>
