---
interface Props {
    url: string;
    pageName: string;
}
const { url, pageName } = Astro.props;
---

<li
    class="">
    <a class="block w-full cursor-pointer py-3 border-b border-golden font-normal transition md:py-0 hover:text-zinc-200 md:border-none" href={url}>{pageName}</a>
</li>
