---
interface Props {
    url: string;
    pageName: string;
}
const { url, pageName } = Astro.props;
---

<li>
    <a
        class="block w-full cursor-pointer border-b border-golden py-3 font-normal transition hover:text-zinc-200 md:border-none md:py-0"
        href={url}>{pageName}</a
    >
</li>
