---
import { Language, type Cast } from '../types/dataTypes';

interface Props {
    name: string;
    japaneseName: string;
    serie: string[];
    casts: { [key in Language]?: Cast };
    height: number;
    class?: string;
}

const props = Astro.props;
---

<tr class:list={[props.class]}>
    <td class="cell">{props.name}</td>
    <td class="cell text-sm">{props.japaneseName}</td>
    {
        props.serie?.map(s => (
            <td class="cell cellLower">{s}</td>
        ))
    }
    <td class="cell cellLower">{props.height/100}m</td>
    {
        Object.values(props.casts).map(cast => (
            <td class="cell text-sm">
                <a href={cast.link ? cast.link : "#"}>
                    {cast?.name}
                </a>    
            </td>
        ))
    }
</tr>
