---
import { ViewTransitions } from 'astro:transitions';
---

<ViewTransitions />
<header
    class="2xl:h-content-heigh h-60 w-full overflow-hidden bg-sky-900 md:h-80">
    <div
        class="2xl:h-content-heigh absolute z-0 h-60 w-full overflow-hidden bg-gradient-to-r from-slate-900 via-transparent to-slate-900 md:h-80">
    </div>
    <div class="2xl:h-content-heigh h-60 md:h-80">
        <img
            class="z-10 m-auto w-full brightness-75 filter md:w-1/2"
            src="/header_img_violet.png"
            alt="Violet Evergarden Running"
        />
    </div>

    <h1
        class="absolute left-1/2 top-40 w-4/5 -translate-x-1/2 contrast-125 md:top-60 md:w-[460px] 2xl:top-[5vh] 2xl:translate-x-0">
        <img
            src="/header_text_violet.png"
            alt="Violet Evergarden"
            class="w-full"
        />
    </h1>
</header>
