---
const { ...rest } = Astro.props;
---

<div id="nav-see-more" class="text-center" {...rest}>
    <ul class="grid md:grid-cols-4 text-xl md:gap-2 m-auto">
        <li><a href="/see-more/#nav-see-more">Oficial</a></li>
        <li><a href="/see-more/sources/#nav-see-more">Referencias</a></li>
        <li><a href="/see-more/music/#nav-see-more">Música</a></li>
        <li><a href="/see-more/watch/#nav-see-more">Donde ver</a></li>
    </ul>
</div>

<style>
    * {
        transition: all 0.3s ease-in-out;
    }
    li {
        border-radius: 4px;
        cursor: pointer;
        background-color: white;
        color: var(--lightGolden);
    }
    li, li a {
        border-top: solid 1px var(--lightGolden);
        border-bottom: solid 1px var(--lightGolden);
        margin-bottom: 0.5rem;
    }
    li a {
        background-color: #f5f5dc;
        display: block;
        margin-top: 3px;
        padding: 0.5rem 0;
        margin-bottom: 3px;
    }
    li a:hover {
        background-color: var(--lightGolden);
        color: white;
    }
</style>
