---
import { getCollection } from 'astro:content';

const allSeeMorePages = await getCollection('see-more');

interface Props {
    class?: string;
}

const { class: className, ...rest } = Astro.props;

const columns = `md:grid-cols-4`;
---

<div id="nav-see-more" class:list={['text-center', className]} {...rest}>
    <ul class:list={['m-auto grid text-xl md:gap-2', columns]}>
        {
            allSeeMorePages.map(page => (
                <li class="mt-2 cursor-pointer rounded border-y border-golden-light bg-white text-golden-light">
                    <a
                        class="hover:text- my-[3px] block border-y border-golden-light  bg-beige-light py-2 hover:bg-golden-light hover:text-white"
                        href={`/see-more/${page.slug}/#nav-see-more`}>
                        {page.data.label}
                    </a>
                </li>
            ))
        }
        <!-- <li><a href="/see-more/#nav-see-more">Oficial</a></li>
        <li><a href="/see-more/sources/#nav-see-more">Referencias</a></li>
        <li><a href="/see-more/music/#nav-see-more">Música</a></li>
        <li><a href="/see-more/watch/#nav-see-more">Donde ver</a></li> -->
    </ul>
</div>

<style>
    * {
        transition: all 0.3s ease-in-out;
    }
</style>
