---
import Header from '../components/Header.astro';
import Navbar from '../components/navbar/Navbar.astro';
import Footer from "../components/Footer.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;600;700&display=swap"
            rel="stylesheet"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="min-h-full max-w-full bg-zinc-200 font-roboto text-base ">
        <Header />
        <Navbar />
        <slot />
        <Footer />
        <script>
            const navBarBtn = document.getElementById('navBarBtn');
            const navBarUl = document.getElementById('navBarUl');
            if (navBarUl && navBarBtn) {
                navBarBtn.addEventListener('click', () => {
                    navBarUl.classList.toggle('hidden');
                    navBarUl.classList.toggle('grid');
                    navBarBtn.classList.toggle('active');
                });
            }
        </script>
    </body>
</html>
