---
import Layout from './Layout.astro';
import Section from '@/components/Section.astro';
import Title from '@/components/Title.astro';
import SeeMoreNav from '@/components/SeeMoreNav.astro';
import { Image } from "astro:assets";

const { frontmatter } = Astro.props;
---

<Layout
    title={`Webs: ${frontmatter.title}`}
    description="Explora una selección de webs de interés relacionadas con Violet Evergarden. Descubre más recursos y contenido sobre la serie.">
    <Section>
        <Title>Webs de Interés</Title>
        <div class="m-auto min-h-screen max-w-xl">
            <SeeMoreNav />
            <div
                class="my-4 h-auto w-full overflow-hidden rounded"
                transition:animate="slide">
                <Image
                    class="max-h-none w-full"
                    src={frontmatter.image.src}
                    alt={frontmatter.image.alt}
                />
            </div>
            <div id="content" class="my-4" transition:animate="slide">
                <h2
                    class="border-b border-golden text-center text-2xl
                font-medium text-golden-light">
                    {frontmatter.title}
                </h2>
                <div>
                    <slot />
                </div>
            </div>
        </div>
    </Section>
</Layout>

<style is:inline>
    #content h3 {
        background-color: var(--lightGolden);
        text-align: center;
        color: white;
    }
    #content h3:not(:first-child) {
        margin-top: 33px;
    }
    #content p,
    #content li,
    #content ul {
        margin: 15px;
    }
    #content a {
        color: var(--lightGolden);
    }
    #content ol {
        list-style: upper-roman;
    }
    #content ol li {
        margin-left: 45px;
        padding-left: 5px;
    }
    #content ol li::marker {
        color: var(--lightGolden);
        font-weight: 500;
    }
    #content ul li::before {
        content: '■';
        padding: 0 10px 0 0;
        color: var(--lightGolden);
        width: 1rem;
    }
    #content a::after {
        content: ' 🔗';
    }
    #content li a:hover {
        text-decoration: underline;
    }
    #content img {
        margin: 10px auto;
        width: auto;
        height: 150px;
        object-fit: contain;
    }
</style>
